@model IEnumerable<ProjetWeb.Models.Customer>

@{
    ViewData["Title"] = "Liste des clients";
}

<h1 class="fw-bold text-decoration-underline">@ViewData["Title"]</h1>

<table class="table table-striped w-75 bg-white">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadPayer)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.BadPayer) {
                        <a class="btn btn-primary p-2" asp-action="TagAsBadPayer" asp-route-id="@item.Id">
                            retirer mauvais payeur
                        </a>
                    }else{
                        <a class="btn btn-primary p-2" asp-action="TagAsBadPayer" asp-route-id="@item.Id">
                            mettre mauvais payeur
                        </a>
                    }
                </td>
         
            </tr>
        }
    </tbody>
</table>

